<div class="fab-container">
  <button class="fab-main" (click)="toggleMenu()" [class.active]="isOpen" aria-label="Abrir Menu">
    <mat-icon class="fab-icon">{{ isOpen ? 'close' : 'menu' }}</mat-icon>
  </button>

  <div class="menu" [class.active]="isOpen">

    <div class="menu-item" (click)="navegar('/monitores')" title="Gestão de Monitores">
      <mat-icon class="text-green">groups</mat-icon>
    </div>

    <div class="menu-item" (click)="navegar('/grupos')" title="Gestão de Turnos">
      <mat-icon class="text-green">calendar_view_week</mat-icon>
    </div>

    <div class="menu-item" (click)="navegar('/checkin')" title="Check-in">
      <mat-icon class="text-green">how_to_reg</mat-icon>
    </div>

    <div class="menu-item" (click)="navegar('/admin')" title="Painel Geral">
      <mat-icon class="text-green">dashboard</mat-icon>
    </div>

    <div class="menu-item" (click)="logout()" title="Sair da Conta">
      <mat-icon class="text-red">logout</mat-icon>
    </div>

  </div>
</div>